<template>
  <div>
    <ul id="tabs-swipe-demo" class="tabs">
      <li class="tab col s3">
        <a class="active" href="#" v-on:click="(selected_brand = '')">Todos</a>
      </li>
      <li class="tab col s3" v-for="brand in filtered_brands" :key=brand.id>
        <a class="active" href="#" v-on:click="(selected_brand = brand.id)">{{brand.title.rendered}}</a>
      </li>
    </ul>
    <div class="container">
      <div v-if="isLoading">
        <LoadingSpinner />
      </div>
      <div class="row">
        <div class="col s6" v-for="vehiculo in filtered_vehiculos" :key=vehiculo.id>
          <nuxt-link :to="{name: 'autos-id', params: {id: vehiculo.id}}">
            <div class="card-panel">
              <img class="responsive-img" :src="vehiculo['wpcf']['wpcf-vehiculo-miniatura'][0]">
              <span>{{ vehiculo.title.rendered }}</span>
              <span>{{ vehiculo.id }}</span>
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>  
  </div>
</template>

<script>
import axios from 'axios';
import LoadingSpinner from "~/components/LoadingSpinner"
var brands = [
  {id: 18913, title:{rendered: "JMC"}},
  {id: 18223, title:{rendered: "Infiniti"}},
  {id: 18020, title:{rendered: "Geely"}},
  {id: 17560, title:{rendered: "Alfa Romeo"}},
  {id: 1828, title:{rendered: "Mitsubishi"}},
  {id: 1829, title:{rendered: "SsangYong"}},
  {id: 1821, title:{rendered: "Hyundai"}},
  {id: 1824, title:{rendered: "Jeep"}},
  {id: 1825, title:{rendered: "Dodge"}},
  {id: 1826, title:{rendered: "RAM"}},
];
export default {
  components: {
    LoadingSpinner
  },
  data() {
    return {
      isLoading: true,
      vehiculos: [],
      brands: brands,
      filtered_brands: [],
      selected_brand: '',
      tipo: this.$route.params.tipo
    }
  },
  computed: {
    filtered_vehiculos: function() {
      if (this.selected_brand == ''){
        return this.vehiculos;
      }
      var vm = this;
      return this.vehiculos.filter(function(vehiculo) {
        return vehiculo.wpcf._wpcf_belongs_marca_id[0] == vm.selected_brand;
      })
    },
  },
  created(){
    var route = process.env.wpurl+'vehiculos?per_page=50&filter[meta_key]=wpcf-tipo-vehiculo&filter[meta_value]='+this.tipo;
    axios.get(route).then(response => {
      this.vehiculos = response.data;
      this.isLoading = false;
      this.filterBrands();
    });
  },
  methods: {
    filterBrands: filterBrands
  },
}

function filterBrands() {
  var vehiculosBrands = this.vehiculos.map(function(vehiculo) {
    return parseInt(vehiculo.wpcf._wpcf_belongs_marca_id[0]);
  });
  this.filtered_brands = this.brands.filter(function(brand, index) {
    return vehiculosBrands.includes(brand.id);
  });
}

</script>

<style>

</style>
