<template>
  <div>
    <div class="row titulo">
      <div class="container">
        <nuxt-link :to="'/'">
          <a href="" class="gm-last-link">
          <i class="material-icons">arrow_back</i> 
          Autos Nuevos
          </a>
        </nuxt-link>
      </div>
    </div>
    <ul id="tabs-swipe-demo" class="tabs gm-tab-menu">
      <li class="tab col s3"><nuxt-link to="marcas">Marcas</nuxt-link></li>
      <li class="tab col s3"><a class="active gm-tab-menu--active" href="#">Tipos</a></li>
    </ul>
    <div class="container">
      <div class="row">
        <div class="col s6" v-for="type in types" :key=type>
          <nuxt-link :to="'tipos/'+ type">
            <div class="card-panel">
              <img class="responsive-img" :src="'../img/types/' + type + '.jpg'">
              <p>{{type}}</p>
            </div>
          </nuxt-link>
        </div>
      </div>  
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      types: [
        'sedan',
        'familiar',
        'suv',
        'pickup',
        'todoterreno',
        'comercial'
      ]
    }
  }
}
</script>

<style scoped>

.titulo{
  margin-bottom:-2px;
}

div.titulo, ul.tabs{
  background:#1263b4;
}

ul.tabs li a, ul.tabs li a.active{
  color:#fff;
}

</style>
