* {
    box-sizing: border-box;
}
$animation-duration: 0.7s;
body {
    font-family: $primary-font;
    color: $dark-grey;
    font-weight: $font-regular;
    //background: $ligth-grey;
    padding: 0 !important
}

a {
    color: $brand-primary-color;
    transition: .2s ease-in-out all;
    font-weight: $font-regular;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: $brand-primary-color !important;
    }
    &:focus {
        text-decoration: none;
    }
}

ul {
    list-style-type: none;
    padding-left: 0;
}

strong {
    font-weight: $font-bold;
}

label {
    font-weight: $font-regular;
}

.content-wrapper {
    min-height: calc(100vh - 360px);
}

.dn {
    display: none;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fn {
    float: none;
}

.cb {
    clear: both;
}
.card-panel {
    min-height: 160px;
}