@charset 'UTF-8';
//@import 'bourbon';
@import 'utils/variables';
@import 'utils/functions';
@import 'utils/media';
@import 'utils/mixins';
@import 'utils/placeholders';

// @import 'base/reset';
@import 'base/global';
@import 'base/typography';

// @import 'components/loader';

// @import 'layout/footer';

// @import 'pages/page-home';

.gm-card--title{
    font-size: 16px;
    font-weight: $font-bold;
    text-align: center;
    margin: 0;
}
.gm-last-link{
    color: $white;
}
.gm-tab-menu{
    &--active::after{
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background: $brand-third-color;
        position: relative;
        top: -8px;

    }
}