<template>
  <div>
    <ul id="tabs-swipe-demo" class="tabs">
      <li class="tab col s3">
        <a class="active" href="#" v-on:click="(selected_type = '')">Todos</a>
      </li>
      <li class="tab col s3" v-for="type in filtered_types" :key=type>
        <a class="active" href="#"  v-on:click="(selected_type = type)">{{type}}</a>
      </li>
    </ul>
    <div class="container">
      <div v-if="isLoading">
        <LoadingSpinner />
      </div>
      <div class="row">
        <div class="col s6" v-for="vehiculo in filtered_vehiculos" :key=vehiculo.id>
          <nuxt-link :to="{name: 'autos-id', params: {id: vehiculo.id}}">
            <div class="card-panel">
              <img class="responsive-img" :src="vehiculo['wpcf']['wpcf-vehiculo-miniatura'][0]">
              <span>{{ vehiculo.title.rendered }}</span>
              <span>{{ vehiculo.id }}</span>
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import LoadingSpinner from "~/components/LoadingSpinner"
var types = [
  'automovil',
  'sedan',
  'familiar',
  'suv',
  'pickup',
  'todoterreno',
  'comercial'
];
export default {
  components: {
    LoadingSpinner
  },
  data() {
    return {
      types: types,
      filtered_types: [],
      selected_type: '',
      isLoading: true,
      vehiculos: [],
      marca: this.$route.params.marca
    }
  },
  computed: {
    filtered_vehiculos: function() {
      if (this.selected_type == ''){
        return this.vehiculos;
      }
      var vm = this;
      return this.vehiculos.filter(function(vehiculo) {
        return vehiculo.wpcf['wpcf-tipo-vehiculo'][0] == vm.selected_type;
      })
    },
  },
  created(){
    var route = process.env.wpurl+'vehiculos?filter[meta_key]=_wpcf_belongs_marca_id&filter[meta_value]='+this.marca;
    console.log(route);
    axios.get(route).then(response => {
      this.vehiculos = response.data;
      this.isLoading = false;
      this.filterTypes();
    })
  },
  methods: {
    filterTypes: filterTypes
  }
}

function filterTypes() {
  var vehiculosTypes = this.vehiculos.map(function(vehiculo) {
    return vehiculo.wpcf['wpcf-tipo-vehiculo'][0];
  });
  this.filtered_types = this.types.filter(function(type, index) {
    return vehiculosTypes.includes(type);
  });
}

</script>

<style>

</style>
