<template>
  <div>
    <div class="row titulo">
      <div class="container">
        <nuxt-link :to="'/'">
          <a href="" class="gm-last-link">
          <i class="material-icons">arrow_back</i> 
          Autos Nuevos
          </a>
        </nuxt-link>
      </div>
    </div>
    <ul id="tabs-swipe-demo" class="tabs gm-tab-menu">
      <li class="tab col s3 "><a class="active gm-tab-menu--active" href="#">Marcas</a></li>
      <li class="tab col s3"><nuxt-link to="tipos">Tipos</nuxt-link></li>
    </ul>
    <div class="container">
      <div v-if="isLoading">
        <LoadingSpinner />
      </div>
      <div class="row">
          <div class="col s6" v-for="brand in brands" :key=brand.id>
          <nuxt-link :to="'marcas/'+ brand.id">  
            <div class="card-panel">
              <img class="responsive-img" :src="'../img/brands/' + brand.slug + '-marca.jpg'">
            </div>
          </nuxt-link>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import LoadingSpinner from "~/components/LoadingSpinner"

export default {
  components: {
    LoadingSpinner
  },
  data() {
    return {
      isLoading: true,
      brands: []
    }
  },
  created(){
    axios.get(process.env.wpurl+'marca').then(response => {
      this.brands = response.data;
      this.isLoading = false;
    })
  },
}
</script>

<style scoped>

.titulo{
  margin-bottom:-2px;
}

div.titulo, ul.tabs{
  background:#1263b4;
}

ul.tabs li a, ul.tabs li a.active{
  color:#fff;
}

</style>
