<template>
  <div class="container">
    <div class="row">
      <div class="col s10">
        <nuxt-link to="/" class="brand-logo"><img class="responsive-img" src="~/assets/img/logo-img.svg"></nuxt-link>
      </div>

      <div class="col s2">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger btn-floating btn-large waves-effect waves-light"><i class="material-icons">menu</i></a>
        <ul class="sidenav" id="mobile-demo">
          <li><nuxt-link to="/autos/marcas">Autos Nuevos</nuxt-link></li>
          <li><nuxt-link to="servicios">Servicios</nuxt-link></li>
          <li><nuxt-link to="contacto">Contacto</nuxt-link></li>
        </ul>
      </div>

    </div>
  </div>
</template>

<script>
export default {
    mounted: function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    }
}
</script>

<style>

.brand-logo img{
  width:100%;
  max-width:260px;
  margin-top:7px;
}

.nav-wrapper{
  text-align:right;
}

.sidenav-trigger {
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 12px;
}

.btn-floating.btn-large {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-top: 8px;
  background-color: #1263b4
}

.btn-floating.btn-large i {
    line-height: 44px;
}

</style>
