<template>
  <div>
    <Nav/>
    <nuxt />
  </div>
</template>

<script>
import Nav from './partials/nav'
export default {
  components: {
    Nav
  }
}
</script>


<style>

.titulo{
  margin-bottom:0px;
}

div.titulo, ul.tabs{
  background:#1263b4;
  color: white;
  font-size: large;
  padding: 5px;
}

ul.tabs li a, ul.tabs li a.active{
  color:#fff;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: #fff;
}

.tabs .tab a {
    color: #fff;
}

</style>
