<template>
    <div>
        <nuxt />
        <footer class="page-footer">
        
        <div class="container">
            <div class="row">
            <div class="col s12 center">
                <a href="tel:+569756856325" class="btn waves-effect waves-lightl">
                    <i class="material-icons">phone_in_talk</i> 
                    9 756856325
                </a>
            </div>
            </div>
        </div>
        </footer>
    </div>
</template>

<script>

</script>


<style scope lang="scss">
.page-footer {
    color: #fff;
    background-color: #004380;
    position: absolute;
    bottom: 0;
    width: 100%;
    .btn {
        background-color: #ff1740;
    }
}


</style>
