<template>
  <div class="big-menu">
    <div class="logo center">
      <img src="~/assets/img/logo-sitio.svg" style="width: 250px;">
    </div>
    <div class="container">
      <div class="row gm-home-card">
        <!-- Autos nuevos -->
        <div class="col s12">
          <nuxt-link to="autos/marcas">
            <div class="card-panel">
              <div class="center">
                <img class="responsive-img gm-first-cart-img" src="~/assets/img/an-img.svg">
              </div>
              <h2 class="gm-card--title gm-first-cart-txt">Autos Nuevos</h2>
            </div>
          </nuxt-link>
        </div>
      </div>

      <!-- Usados -->
      <div class="row gm-home-card">
        <div class="col s6">
          <a href="">
            <div class="card-panel">
              <div class="center">
                <img class="responsive-img" src="~/assets/img/au-img.svg">
              </div>
              <h2  class="gm-card--title">Usados de Selección</h2>
            </div>
          </a>
        </div>

        <!-- Servicio tecnico -->
        <div class="col s6">
          <a href="">
            <div class="card-panel">
              <div class="center">
                <img class="responsive-img" src="~/assets/img/st-img.svg">
              </div>
              <h2 class="gm-card--title">Servicio Técnico</h2>
            </div>
          </a>
        </div>
      </div>
      
      <div class="row gm-home-card">
        <div class="col s6">
          <nuxt-link to="autos_nuevos">
            <div class="card-panel">
              <div class="center">
                <img class="responsive-img" src="~/assets/img/sv-img.svg">
              </div>
              <h2 class="gm-card--title">Salas de venta</h2>
            </div>
          </nuxt-link>
        </div>
        <!-- Servicio tecnico -->
        <div class="col s6">
          <a href="">
            <div class="card-panel">
              <div class="center">
                <img class="responsive-img" src="~/assets/img/fn-img.svg">
              </div>
              <h2 class="gm-card--title">Santander Financiamiento</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
</template>

<script>
export default {
  layout: 'home'
}
</script>

<style lang="scss" scoped>
.gm-home-card{
  margin: 0;
}
.logo img{
  padding: 20px 0;
}
.card-panel {
  img {
    max-width:70px;
  }
}
.big-menu {
  background: url('~assets/img/home-img.jpg') no-repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-size: cover;
}
.gm-card--title{
  position: relative;
  bottom: -6px;
}
.gm-first-cart{
  &-txt{
    bottom: 0 !important;
  }
  &-img{
    max-width: 80px !important;
  }
}
</style>
