<template>
  <section class="container">
    <div>
      <h2 class="subtitle">
        Servicio Técnico
      </h2>
    </div>
  </section>
</template>

<script>

export default {
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

</style>

