<template>
  <div>
    <ul id="tabs-swipe-demo" class="tabs">
      <li class="tab col s3">
        <a class="active" href="#" v-on:click="selected_tab = 'detalle'">Detalle</a>
      </li>
      <li class="tab col s3">
        <a class="active" href="#" v-on:click="selected_tab = 'galeria'">Galería</a>
      </li>
      <li class="tab col s3">
        <a class="active" href="#" v-on:click="selected_tab = 'sucursales'">Sucursales</a>
      </li>
    </ul>
    <div v-if="isLoading">
      <LoadingSpinner />
    </div>
    <div v-else>
      <!-- DETALLE -->
      <div v-show="selected_tab == 'detalle'">
        <div :style="getPortada()">
          <span></span>
        </div>
        <div class="container">
          <div class="row">
            <div class="col s12 center-align">
              <img class="responsive-img" :src="'../img/brands/' + vehiculo.wpcf._wpcf_belongs_marca_id + '.jpg'" style="max-width: 30%">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select class="browser-default" v-model="selected_model" v-on:change="setEspecificaciones">
                <option v-for="model in modelos" :value="model" :key="model.id">{{model.title.rendered}}</option> 
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <table>
                <tbody>
                  <tr v-show="precio_normal">
                    <td>Precio Normal</td>
                    <td>{{precio_normal | currency}}</td>
                  </tr>
                  <tr v-show="bono_todo">
                    <td>Bono todo medio de pago</td>
                    <td>{{bono_todo | currency}}</td>
                  </tr>
                  <tr v-show="bono_financiamiento">
                    <td>Bono con financiamiento</td>
                    <td>{{bono_financiamiento | currency}}</td>
                  </tr>
                  <tr v-show="precio_final">
                    <td>Precio final</td>
                    <td>{{precio_final | currency}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="div">
            <div class="col">
              <p class="legal">* Los precios de venta y equipamientos publicitados en este sitio web son referenciales y estan sujetos a confirmación</p>
            </div>
          </div>
          <div class="div">
            <div class="col">
              <h6 class="center-align">ESPECIFICACIONES</h6>
              <hr>
            </div>
          </div>
          <div class="row center-align">
            <div class="col s4">
              <a class="btn-floating btn-large waves-effect waves-light" v-on:click="setSelectedEspecification('equipamiento')">
                  <i class="material-icons">directions_car</i>
                </a>
                <br>
                <span>Equipamiento</span>
            </div>
            <div class="col s4">
                <a class="btn-floating btn-large waves-effect waves-light" v-on:click="setSelectedEspecification('motor')">
                  <i class="material-icons">network_check</i>
                </a><br>
                <span>Motor</span>
            </div>
            <div class="col s4">
                <a class="btn-floating btn-large waves-effect waves-light" v-on:click="setSelectedEspecification('seguridad')">
                  <i class="material-icons">verified_user</i>
                </a><br>
                <span>Seguridad</span>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <ul class="collection">
                <li class="collection-item" v-for="item in especificaciones" :key="item.name">
                  <div>
                    {{item.name}}
                    <span class="secondary-content" v-html="item.value"></span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <h6>Financiamiento</h6>
              <p>Asesoramiento personalizado al instante, podrás realizar todo en el mismo concesionario, con aprobación inmediata y cuotas iguales</p>
            </div>
          </div>
          
        </div>
        <div class="row row-santander">
          <div class="col s12 center-align">
            <img class="responsive-img" width="" src="~/static/img/logo_santander.png">
          </div>
        </div>
      </div>
      <!-- GALERIA -->
      <div v-show="selected_tab == 'galeria'">
        <div class="row">
          <div class="col s12 center-align">
            <h4>Exterior</h4>
            <carousel>
              <slide v-for="(image, index) in vehiculo.wpcf['wpcf-galeria-exterior']" :key="index">
                <img class="responsive-img" :src="image" >
              </slide>
            </carousel>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <h4>Interior</h4>
            <carousel>
              <slide v-for="(image, index) in vehiculo.wpcf['wpcf-galeria-interior']" :key="index">
                <img class="responsive-img" :src="image" >
              </slide>
            </carousel>
          </div>
        </div>
      </div>

      <!-- SUCURSALES -->
      <div v-show="selected_tab == 'sucursales'">
        <div class="row" v-for="local in filter_locales" :key="local.id">
          <div class="col s12">
            <div class="card">
              <div class="card-image">
                <img src="images/sample-1.jpg">
              </div>
              <div class="card-content">
                <h5>{{local.title.rendered}}</h5>
                <div class="row">
                  <div class="col s1"><i class="material-icons">access_time</i></div>
                  <div class="col s11"><p>{{local.wpcf['wpcf-horario-local'][0]}}</p></div>
                </div>
                <div class="row">
                  <div class="col s1"><i class="material-icons">phone</i></div>
                  <div class="col s11"><p>{{local.wpcf['wpcf-local-telefono'][0] | phoneNumer}}</p></div>
                </div>
              </div>
              <div class="card-action">
                <a href="#">Ver en google maps</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <div class="row row-botones">
        <div class="col s5 center-align">
          <a class="waves-effect waves-light btn orange lighten-2"><i class="material-icons">call</i> lammar</a>
        </div>
        <div class="col s5 center-align">
          <a class="waves-effect waves-light btn orange lighten-2"><i class="material-icons">bookmark</i> Cotizar</a>
        </div>
        <div class="col s2 center-align">
          <a class="btn-floating waves-effect waves-light blue darken-4"><i class="material-icons">chat</i></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import LoadingSpinner from "~/components/LoadingSpinner";
import {Carousel, Slide} from 'vue-carousel';

export default {
  components: {
    LoadingSpinner,
    Carousel,
    Slide
  },
  data() {
    return {
      vehiculo_id: this.$route.params.id,
      vehiculo: {},
      modelos: [],
      locales: [],
      filter_locales: [],
      filter_locales_id: [],
      selected_especificaciones: 'equipamiento',
      selected_tab: 'detalle',
      equipamiento: [],
      motor: [],
      seguridad: [],
      selected_model: false,
      isLoading: true,
    }
  },
  computed: {
    precio_normal: function () {
      return this.getAmmount('wpcf-precio');
    },
    bono_todo: function () {
      return this.getAmmount('wpcf-bono');
    },
    bono_financiamiento: function () {
      return this.getAmmount('wpcf-bono-2');
    },
    precio_final: function () {
      if (this.selected_model) {
        var descuento = parseInt(this.bono_todo) + parseInt(this.bono_financiamiento);
        var precio_final = parseInt(this.precio_normal) - descuento; 
        return parseInt(precio_final); 
      }
    },
    especificaciones: function () {
      return this[this.selected_especificaciones];
    }
  },
  filters: {
    currency: function (value) {
      if (!value) return '';
      value = value.toLocaleString('de-DE')
      return '$ ' + value;
    },
    phoneNumer: function (value) {
      if(value.startsWith("<")) {
        value = value.slice(8, -9);
      }
      return value;
    }
  },
  created(){
    var vehiculo_route = process.env.wpurl+'vehiculos/'+this.vehiculo_id;
    var modelos_route = process.env.wpurl+'modelo?filter[meta_key]=_wpcf_belongs_vehiculos_id&filter[meta_value]='+this.vehiculo_id;
    var locales_route = process.env.wpurl+'locales?per_page=100';
    var local_marca_route = process.env.wpurl+'relacion-marca-local'
    //busca la info del vehiuculo
    axios.get(vehiculo_route).then(response => {
      this.vehiculo = response.data;
      this.isLoading = false;

      //busca la relacion pivote con los locales
      var local_marca_route_filter = local_marca_route+'?filter[meta_key]=_wpcf_belongs_marca_id&filter[meta_value]='+this.vehiculo.wpcf['_wpcf_belongs_marca_id'][0]+'&per_page=100';
      axios.get(local_marca_route_filter).then(response => {
        this.filter_locales_id = response.data.map(function(data){
          return data.wpcf['_wpcf_belongs_locales_id'][0];
        });
        this.setFilterLocales();
      })
    })

    //busca los modelos
    axios.get(modelos_route).then(response => {
      this.modelos = response.data;
      this.selected_model = response.data[0];
      this.setEspecificaciones()
    });

    //busca los locales
    axios.get(locales_route).then(response => {
      this.locales = response.data;
    });
  },
  methods: {
    getPortada: getPortada,
    getAmmount: getAmmount,
    setEspecificaciones: setEspecificaciones,
    setSelectedEspecification: setSelectedEspecification,
    setFilterLocales: setFilterLocales
  }
}

function setFilterLocales() {
  var vm = this;
  this.filter_locales = this.locales.filter(function (local) {
    if(vm.filter_locales_id.includes(JSON.stringify(local.id))){
      //console.log(local);
      return local;
    }
  });
}

function setSelectedEspecification(type) {
  this.selected_especificaciones = type;
}

function setEspecificaciones() {
  this.equipamiento = [];
  this.motor = [];
  this.seguridad = [];
  if (this.selected_model.wpcf['wpcf-aire-acondicionado'][0] == 1) {
    this.equipamiento.push({name:'Aire acondicionado', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-sun-roof'][0] == 1) {
    this.equipamiento.push({name:'Sun roof', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-neblineros'][0] == 1) {
    this.equipamiento.push({name:'Neblineros', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-sensor-de-estacionamiento'][0] == 1) {
    this.equipamiento.push({name:'Sensor de estacionamiento', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-cierre-centralizado'][0] == 1) {
    this.equipamiento.push({name:'Cierre centralizado', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-vidrios-electricos'][0] == 1) {
    this.equipamiento.push({name:'Vidrios eléctricos', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-climatizador'][0] == 1) {
    this.equipamiento.push({name:'Climatizador', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-espejos-electricos'][0] == 1) {
    this.equipamiento.push({name:'Espejos eléctricos', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-control-al-volante'][0] == 1) {
    this.equipamiento.push({name:'Control al volante', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-bluetooth'][0] == 1) {
    this.equipamiento.push({name:'bluetooth', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-radio-touch'][0] == 1) {
    this.equipamiento.push({name:'Radio touch', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-control-crucero'][0] == 1) {
    this.equipamiento.push({name:'Control crucero', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-computadora-a-bordo'][0] == 1) {
    this.equipamiento.push({name:'Computadora a bordo', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-sistema-de-frenos'][0]) {
    this.seguridad.push({name:'Sistema de frenos', value:'<i>'+ this.selected_model.wpcf['wpcf-sistema-de-frenos'][0] +'</i>'});
  }
  if (this.selected_model.wpcf['wpcf-air-bag'][0]) {
    this.seguridad.push({name:'Air bag', value:'<i>' + this.selected_model.wpcf['wpcf-air-bag'][0] + '</i>'});
  }
  if (this.selected_model.wpcf['wpcf-alarma'][0] == 1) {
    this.seguridad.push({name:'Alarma', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-inmobilizador'][0] == 1) {
    this.seguridad.push({name:'Inmobilizador', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-control-de-estabilidad'][0] == 1) {
    this.seguridad.push({name:'Control de estabilidad', value:'<i class="material-icons">check</i>'});
  }
  if (this.selected_model.wpcf['wpcf-numero-de-puertas'][0]) {
    this.equipamiento.push({name:'Número de puertas', value:'<i>' + this.selected_model.wpcf['wpcf-numero-de-puertas'][0] + '</i>'});
  }
  if (this.selected_model.wpcf['wpcf-cilindrada'][0]) {
    this.motor.push({name:'Cilindrada', value:'<i>' + this.selected_model.wpcf['wpcf-cilindrada'][0] + '</i>'});
  }
  if (this.selected_model.wpcf['wpcf-potencia'][0]) {
    this.motor.push({name:'Potencia', value:'<i>' + this.selected_model.wpcf['wpcf-potencia'][0] + '</i>'});
  }
  if (this.selected_model.wpcf['wpcf-traccion'][0]) {
    this.motor.push({name:'Tracción', value:'<i>' + this.selected_model.wpcf['wpcf-traccion'][0] + '</i>'});
  }
  if (this.selected_model.wpcf['wpcf-combustible'][0]) {
    this.motor.push({name:'Combustible', value:'<i>' + this.selected_model.wpcf['wpcf-combustible'][0] + '</i>'});
  }
  if (this.selected_model.wpcf['wpcf-transmision'][0]) {
    this.motor.push({name:'Transmision', value:'<i>' + this.selected_model.wpcf['wpcf-transmision'][0] + '</i>'});
  }
  if (this.selected_model.wpcf['wpcf-direccion-hidraulica'][0] == 1) {
    this.motor.push({name:'Dirección Hidraulica', value:'<i class="material-icons">check</i>'});
  }
}

//Consigue los montos de la tabla de precio con bonos
function getAmmount(field) {
  if (this.selected_model) {
    if (this.selected_model.wpcf[field]) {
      var ammount = this.selected_model.wpcf[field][0];
      return parseInt(ammount);  
    }
    return 0;
  }
  return 0;
}
function getPortada() {
  var url = this.vehiculo['wpcf']['wpcf-portada'][0];
  var portada = 'background-image: url("' + url +'"); background-size: contain; height: 131px; background-repeat: no-repeat';
  // console.log(portada);
  return portada;
}

</script>

<style scoped>
p.legal {
  font-size: x-small;
}
h6 {
  padding-top: 25px;
}
.row-santander {
  background-color: #ececec;
  padding: 10px;
  width: 100%;
  margin-bottom: 60px;
}

.row-botones {
  background-color: #ececec;
  padding: 10px;
  width: 100%;
  margin-bottom: 0%;
}
.card-image {
  height: 200px;
}
</style>
